@import "../../assets/sass/colors.scss";
@import "../../assets/sass/animations.scss";

.artists{

    // temporal
    display: none;
    .top_artists-container{
        .artists-items{
            padding: 5%;
        }
    }

        .card-animation{
            animation: display_artist-image 0.8s ease;
        }

        .card {     
            position: relative;
            height: 18.5rem !important;
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding:  5%;
            height: 100%;
            .card_img-container{

                height: 15rem;
                img {
                    max-height: 100%;
                    max-width: 100%;
                    overflow: hidden; 
                    object-fit: contain;   
                    box-shadow: 15px 13px 5px 4px rgba(255, 255, 255, 0.5);
                    -webkit-box-shadow: 30px 30px 5px 0px rgba(0,0,0,1);
                    -moz-box-shadow: 30px 30px 5px 0px rgba(0,0,0,1);

                }
            }
            span{
                height: 4rem;
                text-align: center;
                color: #fff;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                font-size: 2rem;
                
            }
            .similar-artist{
                position: absolute;
                bottom: 0;
                font-size: 0.8rem;
                border: none;
                transition: all 1s ease;
                &:hover{
                    background: rgb(221,45,245);
background: linear-gradient(162deg, rgba(221,45,245,1) 0%, rgba(176,41,41,1) 70%);
                }
            }

       
          }
          
          
          

    
}