@import "../../assets/sass/mixins.scss";

.top_artists{
    width: 80%;
    height: 100%;

    .top_artists-element{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        align-items: center;
        justify-content: stretch;
        height: 100%;
        border: #9a9a9a solid;
        
        background-color: #000000;
        color: #ffffff;
        max-width: 100%;
        .tier-container{
            display: flex;
            flex-direction: row;
            justify-content:flex-start;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            
            img{
                display: flex;
                align-items: start;
                object-fit: cover;
                width: 2rem;
                height: 2rem;
                padding: 0 10%;
                border-radius: 100%;
            }
            .top_artist-tier{
                display: grid;
                font-size: 0.8rem;
                justify-content: start;
                color: #9a9a9a;
            }
        }
        $texto-base: 16px;
        $tamaño-por-caracter: 0.5px;
        .top_artist-name{ 
            width: 50%;
            font-size: 14.4px;
            display: flex;
            flex: 1;
            
            @include neonEffect(#9a9a9a)
        }

        
        
    }
}