@keyframes display_artist-image{
    0% {

        opacity: 0;
    }
    
    100% {

        opacity: 1;
    }
}

@keyframes display_artist-image-card{
    0% {

        opacity: 0;
    }
    
    100% {

        opacity: 1;
    }
}